@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1 {
    font-size: 20px;
}
nav .onglets {
    display: flex;
    flex-wrap: wrap;
}
nav .onglets p {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}
nav .onglets input {
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
header button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articles {
    display: flex;
    flex-wrap: wrap;
}
.articles .article {
    margin-left: 20px;
    cursor: pointer;
}
.articles .article img {
    width: 350px;
}
.articles .article .article-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles .article .article-body {
    margin-top: -10px;
}

footer {
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media {
    display: flex;
}
footer .social-media p {
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

